<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="This is a todo list created by Felix Krueckel.">
    <title>Task Manager</title>
    <style>
        body {
            font-family: system-ui, sans-serif;
        }

        h1 {
            margin: 0px;
        }

        h2 {
            margin-bottom: 0px;
        }

        form {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
        }

        fieldset {
            margin-bottom: 5px;
            border-radius: 5px;
        }

        ul {
            list-style: none;
            margin: 5px 0px;
            padding: 0px;
        }

        li {
            margin-bottom: 5px;
        }

        input[type=text] {
            margin: 5px 0px;
            border-radius: 5px;
        }

        input[type=checkbox] {
            cursor:pointer;
            margin: 0px;
        }

        input[type=submit] {
            padding: 5px 10px; 
            background:#25e; 
            border:0 none;
            cursor:pointer;
            border-radius: 5px;
            color: #fff;
            font-weight: 700; 
        }

        fieldset, input[type=text] {
            border: 1px solid black;
        }

        input[type=text]:focus {
            outline-width: 0;
        }

        .notopmg {
            margin-top: 0px;
        }

        @media (max-width: 700px) {
            body {
                text-align: center;
            }
            
            form {
                align-items: stretch;
            }

            fieldset, label {
                text-align: left;
            }

            input[type=checkbox] {
                transform: scale(1.5);
            }

            li label {
                margin-left: 5px;
            }

            input[type=text], input[type=submit] {
                padding: 10px;
            }

            #create-task-form {
                position: sticky;
                top: -2px;
            }

            #create-task-form[stuck] {
                background: #fff;
                z-index: 1000;
                padding: 10px 0px 8px 0px;
            }
        }
    </style>
</head>
<body>
    <h1>Task Manager</h1>
    <h2 class="notopmg">Add Task</h2>
    <form action="/create-task" method="post" id="create-task-form">
        <label for="new-task-description">Description of Task</label>
        <input type="text" name="description" id="new-task-description">
        <input type="submit" value="Add Task">
    </form>
    <h2>My Tasks</h2>
    <form action="/change-tasks" method="POST" id="outstanding-tasks">
        <fieldset>
            <legend>ongoing Tasks</legend>
            <ul>
                {% for task in ongoing_tasks %}
                    <li><input type="checkbox" id="task{{ task.getId() }}" name="tasks[]" value="{{ task.getId() }}">
                    <label for="task{{ task.getId() }}">{{ task.getName() }}</label></li>
                {% endfor %}
            </ul>
        </fieldset>
        <fieldset>
            <legend>finished Tasks</legend>
            <ul>
                {% for task in finished_tasks %}
                    <li><input type="checkbox" id="task{{ task.getId() }}" name="tasks[]" value="{{ task.getId() }}" checked>
                    <label for="task{{ task.getId() }}">{{ task.getName() }}</label></li>
                {% endfor %}
        </fieldset>
        <input type="submit" value="Save Tasks">
    </form>
    <script>
      const observer = new IntersectionObserver( 
        ([e]) => {
            e.target.toggleAttribute('stuck', e.intersectionRatio < 1);
        },
        {threshold: [1]}
        );

        observer.observe(document.getElementById('create-task-form'));  
    </script>
</body>
</html>